{% extends 'base.html' %}

{% block main %}

<div class="form-signin w-100 m-auto text-center container">
    <form method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>    
        <div class="form-floating">
          <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Enter your Username...">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">Havent Signed Up Yet?</p>
        <a href="">Sign Up</a>
    </form>
</div>

{% endblock main %}