{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="text-center">
        <div>
            {% if profile.avatar %}
            <img class="rounded-circle mb-3"  style="width: 150px;height: 150px;" src="{{media}}{{profile.avatar.name}}">
            {% else %}
            <img class="rounded-circle mb-3"  style="width: 150px;height: 150px;" src="{{media}}/avatar.png">
            {% endif %}
        </div>
        <div>
            <h3>@{{user.username}}</h3>
        </div>
        <hr>
        <div>
            {% if profile.bio %}
              {{profile.bio}}
            {% endif %}
        </div>
        <div>
            {% for post in posts %}
            <a href="{% url 'post' post.id %}">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{post.name}}</h5>
                      {% for tag in post.tags.all %}
                      <a href="{% url 'tag' tag.id %}"><span class="badge rounded-pill bg-secondary">{{tag.name}}</span></a>
                      {% endfor %}
                      {% if request.user.username == post.auther.username %}
                      <a href="{% url 'editPost' post.id %}">edit</a>
                      {% endif %}
                      <a href="">{{post.auther.username}}</a>
                      <p class="card-text">{{post.text}}</p>
                      <p class="card-text"><small class="text-muted">{{post.created|timesince}} ago</small></p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock main %}